.popup {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: 0.5s linear;
  opacity: 0;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.popup__container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: fixed;
  background-color: #FFF;
  padding: 0;
  box-sizing: border-box;
}

.popup__title {
  width: 396px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 40px 0 40px;
  padding: 0;
  z-index: 1;
  color: #000;
  box-sizing: border-box;
}

.popup__form {
  width: 100%;
  position: relative;
  color: #000;
  margin: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.popup__form-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
}

.popup__button {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #202020;
  color: #FFF;
  box-sizing: border-box;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.popup__button_save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 396px;
  height: 45px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  border-radius: 3px;
  margin: 197px 0 16px;
  padding: 0;
  background: #4285F4;
}

.popup__button_save:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__button_inactive {
  color: #000000;
  background-color: #FFF;
  cursor: default;
  pointer-events: none;
  opacity: 0.2;
}

.popup__field {
  display: flex;
  flex-direction: column;
  width: 396px;
  min-height: 27px;
  padding: 0 0 24px;
  box-sizing: border-box;
}

.popup__input-text {
  width: 390px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: #8B8B8B;
  padding: 0;
  margin: 0 0 5px;
}

.popup__input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #000;
  color: #000;
  background-color: #FFF;
  padding: 0 0 10px;
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

.popup__input_type_entry {
  background-color: #202020;
  color: #FFF;
  border-bottom: 1px solid #424242;
}

.popup__input:focus {
  border-bottom: 1px solid #4285F4;
}

.popup__input-error {
  max-width: 390px;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #EE3465;
  opacity: 0;
}

.popup__input-error_active {
  display: inline-block;
  min-height: 24px;
  opacity: 1;
}

.popup__input-error_active_type_profile {
  display: inline-block;
  min-height: 16px;
  opacity: 1;
}

.popup__input_type_error:focus {
  border-bottom: 1px solid #424242;
}

.popup__redirection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 396px;
  margin: 0 0 70px;
  padding: 0;
}

.popup__title_type_redirection {
  width: calc(100% - 227px);
  color: #8B8B8B;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  padding: 0;
  margin: 0 6px 0 0;
}

.popup__link {
  color:#4285F4;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-decoration: none;
}

.popup__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.popup_type_profile-info {
  display: block;
  position: relative;
  width: calc(100% - 2*70px);
  margin: 0 70px 0;
}

.popup__container_type_profile-info {
  position: relative;
  background-color: #202020;
  border: none;
}

.popup__title_profile-info {
  max-width: 410px;
  text-align: center;
  color: #FFF;
  margin: 74px auto 123px;
}

.popup__field_type_profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 410px;
  margin: 0 0 17px;
  padding: 0;
  border-bottom: 1px solid #424242;
}

.popup__field_type_not-underlined {
  border-bottom: none;
}

.popup__input-text_type_profile {
  width: 141px;
  height: 14px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.18;
  margin: 0;
  color:#FFFFFF;
}

.profile-info__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 16px;
}

.popup__input_type_profile-info {
  background-color: #202020;
  border-bottom: none;
  font-size: 11px;
  line-height: 1.18;
  color: #FFF;
  padding: 0;
  text-align: end;
}

.popup__button_profile-info {
  width: 410px;
  height: 16px;
  font-size: 13px;
  line-height: 1.23;
  background-color: #202020;
  border-radius: 0;
  margin: 188px auto 16px;
}

.popup__button_inactive_type_profile {
  color: #FFF;
  cursor: default;
  pointer-events: none;
}

.popup_type_registration-user {
  display: block;
  position: relative;
  width: calc(100% - 2*442px);
  margin: 0 442px 0;
}

.popup__container_type_registration-user {
  position: relative;
  background-color: #202020;
  border: none;
}

.popup__title_registration-user {
  color: #FFF;
}

.popup__field_type_registration-user {
  padding: 0 0 10px;
}

.popup__input-text_type_registration-user {
  margin: 0 0 5px
}

.popup__button_registration-user {
  margin: 128px 0 16px;
}

.popup_type_login-user {
  display: block;
  position: relative;
  width: calc(100% - 2*442px);
  margin: 0 442px 0;
}

.popup__container_type_login-user {
  position: relative;
  background-color: #202020;
  border: none;
}

.popup__title_login-user {
  color: #FFF;
}

.popup__field_type_login-user {
  padding: 0 0 10px;
}

.popup__input-text_type_login-user {
  margin: 0 0 5px
}

.popup__input_type_error {
  color: #EE3465;
}

.popup__field_type_error {
  margin: 0;
  padding: 0;
}

@media (max-width: 890px) {
  .popup__redirection {
    margin: 0 0 232px;
  }

  .popup_type_profile-info {
    width: calc(100% - 2*30px);
    margin: 0 30px 0;
  }

  .popup__title_profile-info {
    margin: 236px auto 96px;
  }

  .popup__button_profile-info {
    margin: 178px auto 16px;
  }

  .popup_type_registration-user {
    width: calc(100% - 2*186px);
    margin: 0 186px 0;
  }

  .popup_type_login-user {
    width: calc(100% - 2*186px);
    margin: 0 186px 0;
  }
}

@media (max-width: 600px) {
  .popup__title {
    width: 260px;
    margin: 0 0 80px;
  }

  .popup__button_save {
    width: 260px;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 500;
    border-radius: 3px;
    margin: 291px 0 14px;
  }

  .popup__field {
    width: 260px;
  }

  .popup__input-text {
    width: 260px;
  }

  .popup__input-error {
    max-width: 260px;
  }

  .popup__redirection {
    width: 260px;
    margin: 0 auto 30px;
  }

  .popup__title_type_redirection {
    width: calc(100% - 108px);
    margin: 0 7px 0 0;
    font-size: 12px;
    line-height: 1.25;
  }

  .popup__link {
    font-size: 12px;
    line-height: 1.25;
  }

  .popup_type_profile-info {
    width: calc(100% - 2*10px);
    margin: 0 10px 0;
  }

  .popup__title_profile-info {
    max-width: 260px;
    margin: 70px auto 80px;
  }

  .popup__input-text_type_profile {
    width: 130px;
  }

  .popup__input_type_profile-info {
    width: 120px;
  }

  .popup__button_profile-info {
    width: 300px;
    height: 15px;
    font-size: 12px;
    line-height: 1.25;
    margin: 347px auto 16px;
  }

  .popup_type_registration-user {
    width: calc(100% - 2*30px);
    margin: 0 30px 0;
  }

  .popup__button_registration-user {
    margin: 216px 0 14px;
  }

  .popup__title_registration-user {
    justify-content: center;
    display: flex;
    margin: 0 auto 80px;
  }

  .popup_type_login-user {
    width: calc(100% - 2*30px);
    margin: 0 30px 0;
  }

  .popup__button_login-user {
    margin: 285px 0 14px;
  }

  .popup__title_login-user {
    justify-content: center;
    display: flex;
    margin: 0 auto 80px;
  }
}