.navigate-autorized {
  display: flex;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
}

.navigate-autorized__link {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigate-autorized__link:hover {
 opacity: 0.7;
 cursor: pointer;
}

.navigate-autorized__link:active {
  text-decoration: underline; 
  border-bottom: #FFF;
}

.navigate-autorized__link_hidden {
  display: none;
}

.navigate-autorized__dropdown {
  display: none;
  background: rgba(255, 255, 255, 0);
  border: none;
}
.navigate-autorized__container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  background-color: #313131;
}

.navigate-autorized_text {
  max-width: 53px;
  font-size: 13px;
  font-weight: 500;
  line-height: 0.92;
  color: #FFFFFF;
  margin: 0 7px 0 0;
  padding: 0;
}

.navigate-autorized__logo {
   
}

.navigate-autorized__button_type_close {
  width: 22px;
  height: 22px;
  background: rgba(255, 255, 255, 0);
  background-image: url("../../images/button_close.svg");
  background-position: 50% 50%;
  border: none;
  display: none;
}

.navigate-autorized__button_type_account {
  display: flex;
  align-items: center;
  width: 100px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(255, 255, 255, 0);
  border-radius: 40px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

@media (max-width: 800px) {
  .navigate-autorized__button_type_account {
    display: none;
  }
  .navigate-autorized__link:not(:first-child) {
    display: none;
  }
  .navigate-autorized .navigate-autorized__dropdown {
    float: right;
    display: block;
  }
  .navigate-autorized {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 800px) {
  .navigate-autorized_responsive {
    width: 520px;
    height: 100%;
    position: absolute;
    background-color: #202020;
    top: 0;
    right: 0;
  }

  .navigate-autorized_responsive .navigate-autorized__dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  .navigate-autorized_responsive .navigate-autorized__link {
    float: none;
    display: block;
    text-align: left;
  }

  .navigate-autorized_responsive .navigate-autorized__link_hidden {
    display: block;
  }

  .navigate-autorized_responsive .navigate-autorized__button_type_account {
    display: flex;
  }

  .navigate-autorized_responsive .navigate-autorized__button_type_close {
    display: block;
  } 
}

@media (max-width: 620px) {
  .navigate-autorized_responsive {
    width: 320px;
  }
}