.navigate-autorized__button_type_close {
  width: 22px;
  height: 22px;
  background:  #202020;
  background-image: url("../../images/button_close.svg");
  background-position: 50% 50%;
}

.navigate-autorized {
  overflow: hidden;
}

.navigate-autorized__link {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigate-autorized__link:hover {
 opacity: 0.7;
 cursor: pointer;
}

.navigate-autorized__link:active {
  text-decoration:#FFFFFF;
}

.navigate-autorized__dropdown {
  display: none;
}

@media (max-width: 800px) {
  .navigate-autorized__link:not(:first-child) {
    display: none;
  }
  .navigate-autorized .navigate-autorized__dropdown {
    float: right;
    display: block;
  }
}

@media (max-width: 800px) {
  .navigate-autorized_responsive {
    position: relative;
  }
  .navigate-autorized_responsive .navigate-autorized__dropdown {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigate-autorized_responsive .navigate-autorized__link {
    float: none;
    display: block;
    text-align: left;
  }
}