.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
  box-sizing: border-box;
  background-color: #073042;
}

@media (max-width: 1023px) {
  .header {
    padding: 15px 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 18px 14px;
  }
}