@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 0 20px;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color:  #202020;
  background-size: 100%;
  color: #FFF;
  box-sizing: border-box;
}

.page_disable-scroll {
  overflow: hidden;
  position: fixed;
}

@media (max-width: 1279px) {
  .page {
    max-width: 100%;
  }
}
